<div class="container mt-5">
    <h2>Оставить отзыв о туре</h2>
    <form id="reviewForm" method="GET" action="{% url 'leave_mark_choose' %}">
        <div class="form-group">
            <label for="destination">Выберите тур:</label>
            <select name="destination_id" id="destination" class="form-control" required>
                {% for dest in dests %}
                    <option value="{{ dest.id }}">{{ dest.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Перейти к форме отзыва</button>
    </form>

    <div id="notAuthMessage" class="alert alert-warning mt-3" style="display: none;">
        Вы не авторизованы!
    </div>
</div>

<script>
    document.getElementById("reviewForm").addEventListener("submit", function (e) {
        const isAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};

        if (!isAuthenticated) {
            e.preventDefault(); 
            const messageBox = document.getElementById("notAuthMessage");
            messageBox.style.display = "block";

            setTimeout(() => {
                messageBox.style.display = "none";
            }, 2000);
        }
    });
</script>
